<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;); background-color: #F8F9FA ;"
    aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/veterinariaUNESC/paginas/inicial"><i
                    class="bi bi-house-door-fill"></i></a></li>
        <li class="breadcrumb-item" aria-current="page">Ficha de Diagnóstico Patologia</li>
        <li class="breadcrumb-item" aria-current="page">Cadastro</li>
    </ol>
</nav>

<div class="container-fluid d-flex justify-content-center align-items-center mt-2">
    <div class="card rounded" style="min-width: 100%;">
        <div class="card-body border border-1S rounded-2">

            <form id="formFichaLPV" name="formFichaLPV">
                <div class="mb-3 row">
                    <div class="col-md-4">
                        <label for="cdFichaLPV" class="col-form-label my-1">Código da Ficha: </label>
                        <input type="text" readonly class="form-control-plaintext" id="cdFichaLPV" name="cdFichaLPV" value="{{cdFichaLPV}}">
                    </div>
                    <div class="col-md-4">
                        <label for="dtFicha" class="form-label">Data</label>
                        <input type="date" class="form-control" id="dtFicha" name="dtFicha" placeholder="" value="{{DataFicha}}">
                    </div>

                    <div class="col-md-4 d-flex align-items-end justify-content-end">
                        <button class="btn btn-primary rounded-pill m-4" id="ExpandFicha" type="button">Expandir Ficha
                            <i class="bi bi-arrows-expand"></i></button>
                    </div>
                </div>


                <div class="accordion mb-3" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseOne">
                                Animal Diagnosticado
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                            <div class="accordion-body">

                                <div class="row">
                                    <div class="col col-md-12 col-sm-2 d-flex justify-content-end">
                                          <button class="btn btn-secondary" id="alterarAnimalFicha" type="button"><i class="bi bi-pencil-fill"></i> <i class="bi bi-gitlab"></i></i></button>
                                          </button>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <input type="hidden" id="cdAnimal" name="cdAnimal" value="{{cdAnimal}}" readonly>
                                    <input type="hidden" name="alterouAnimal" id="alterouAnimal" value="N" readonly>
                                    <div class="col-md-6">
                                        <label for="animal" class="form-label">Nome do Animal</label>
                                            <input type="text" class="form-control" id="animal" name="animal" value="{{animal}}"
                                                placeholder="" disabled>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="tipoAnimal" class="form-label">Tipo de Animal </label>
                                        <select class="form-select" id="select2tipoAnimal" name="select2tipoAnimal"aria-label="" disabled>
                                        {{selectTipoAnimal|raw}}
                                    </select>
                                </div>
                                </div>      
                                    <div class="row mb-4">
                                        <div class="col">
                                            <label for="especieAnimal" class="form-label">Espécie </label>
                                            <select class="form-select" id="select2especieAnimal" name="select2especieAnimal"aria-label="" disabled>
                                            {{selectEspecieAnimal|raw}}
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label for="racaAnimal" class="form-label">Raça </label>
                                        <select class="form-select" id="select2racaAnimal" name="select2racaAnimal"aria-label="" disabled>
                                        {{selectRacaAnimal|raw}}
                                    </select>
                                </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <div class="form-floating mb-3">
                                                {{selectSexoAnimal|raw}}
                                                <label for="dsSexo">Sexo do animal</label>
                                            </div>
                                        </div>
                
                                        <div class="col">
                                            <div class="form-floating mb-3">
                                                <input type="number" maxlength="2" class="form-control" id="idade" value="{{idadeAnimal}}"
                                                    name="idade" placeholder="" disabled>
                                                <label for="idade">Idade Aproximada</label>
                                            </div>
                                        </div>
                
                                        <div class="col">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="anoNascimento" value="{{anoNascimentoAnimal}}"
                                                    name="anoNascimento" placeholder="" disabled>
                                                <label for="anoNascimento">Ano de nascimento</label>
                                            </div>
                                        </div>
                
                                    </div>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseTwo">
                                Proprietário do Animal
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                            <div class="accordion-body">

                                <div class="row">
                                    <div class="col col-md-12 col-sm-2 d-flex justify-content-end">
                                        <button class="btn btn-secondary" id="alterarDonoFicha" type="button"><i class="bi bi-pencil-fill"></i> <i class="bi bi-person-arms-up"></i></button>
                                        </button>
                                  </div>
                                    <div class="col-md-12 mb-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="donoNaoDeclarado" name="donoNaoDeclarado" {% if donoNaoDeclarado %}checked{% endif %} disabled>
                                        <label class="form-check-label" for="donoNaoDeclarado">
                                          Dono do Animal Não Declarado / Não informado / Ignorado
                                        </label>
                                      </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-floating mb-3">
                                            <input type="hidden" name="alterouDono" id="alterouDono" value="N" readonly>
                                            <input type="text" class="form-control" id="nmProprietario"
                                                name="nmProprietario" value="{{nmDonoAnimal}}" disabled>
                                            <label for="nmProprietario">Nome Completo</label>
                                        </div>
                                    </div>



                                    <div class="col-md-4">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="nrTelefoneProprietario"
                                                name="nrTelefoneProprietario" value="{{nrTelefoneDono}}" disabled>
                                            <label for="nrTelefoneProprietario">Telefone / Celular</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseThree">
                                Veterinário Remetente
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                            <div class="accordion-body">

                                <div class="row">
                                    <div class="col col-md-12 col-sm-2 mb-4 d-flex justify-content-end">
                                        <div class="btn-group" role="group">
                                          <button class="btn btn-success" id="buscaRapidaVeterinario" type="button"><i class="bi bi-plus-circle-dotted"></i> <i class="bi bi-person-arms-up"></i></button>
                                          </button>
                                          <button class="btn btn-secondary" id="alterarVeterinario" type="button"><i class="bi bi-pencil-fill"></i> <i class="bi bi-person-arms-up"></i></button>
                                          </button>
                                        <button class="btn btn-danger" id="desvincularVeterinario" type="button"><i class="bi bi-x-lg"></i> <i class="bi bi-person-arms-up"></i></button>
                                          </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="form-floating mb-3">
                                            <input type="hidden" class="form-control" id="cdVeterinarioRemetente" name="cdVeterinarioRemetente" readonly>
                                            <input type="hidden" class="form-control" id="alterouVeterinario" name="alterouVeterinario" value="N" readonly>
                                            <input type="text" class="form-control" id="nmVeterinarioRemetente"
                                                name="nmVeterinarioRemetente" disabled>
                                            <label for="nmVeterinarioRemetente">Nome Completo</label>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="crmvVeterinarioRemetente"
                                                name="crmvVeterinarioRemetente" placeholder="" disabled>
                                            <label for="crmvVeterinarioRemetente">CRMV</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="nrTelVeterinarioRemetente"
                                                name="nrTelVeterinarioRemetente" placeholder="" disabled>
                                            <label for="nrTelVeterinarioRemetente">Telefone / Celular</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="dsEmailVeterinarioRemetente"
                                                name="dsEmailVeterinarioRemetente" placeholder="" disabled>
                                            <label for="dsEmailVeterinarioRemetente">Email</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="nmCidadeVeterinarioRemetente"
                                                name="nmCidadeVeterinarioRemetente" placeholder="" disabled>
                                            <label for="nmCidadeVeterinarioRemetente">Município de Residência</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseFour">
                                Propriedade de Origem
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <div class="row mb-4">
                                    <div class="col">
                                        <label for="select2cidadePropriedade" class="form-label">Município de Origem </label>
                                        <select class="form-select" id="select2cidadePropriedade" name="select2cidadePropriedade" aria-label="" disabled>
                                        {{selectMunicipioFicha|raw}}
                                    </select>
                                </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="number" class="form-control" id="totalAnimais"
                                                name="totalAnimais" placeholder="">
                                            <label for="totalAnimais">Total de Animais da Propriedade</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="number" class="form-control" id="qtdAnimaisDoentes"
                                                name="qtdAnimaisDoentes" placeholder="">
                                            <label for="qtdAnimaisDoentes">Doentes</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="number" class="form-control" id="qtdAnimaisMortos"
                                                name="qtdAnimaisMortos" placeholder="">
                                            <label for="qtdAnimaisMortos">Mortos</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
                <hr>
                <h3> Detalhes do Diagnóstico </h3>
                <br>

                <div class="mb-3 col-md-12">
                    <label for="dsMaterialRecebido" class="form-label">Material Recebido</label>
                    <input type="text" class="form-control" id="dsMaterialRecebido" name="dsMaterialRecebido"
                        placeholder=" ">
                </div>

                <div class="mb-3 col-md-12">
                    <label for="dsDiagnosticoPresuntivo" class="form-label">Diagnóstico Presuntivo</label>
                    <input type="text" class="form-control" id="dsDiagnosticoPresuntivo" name="dsDiagnosticoPresuntivo"
                        placeholder=" ">
                </div>
                <div class="mb-3 col-md-3">
                    <label for="flAvaliacaoTumoralComMargem" class="form-label">Avaliação tumoral com
                        margem?</label>
                    <select class="form-select" id="flAvaliacaoTumoralComMargem" name="flAvaliacaoTumoralComMargem">
                        <option value="N">Não</option>
                        <option value="S">Sim</option>
                    </select>
                </div>

                <div class="mb-3 col-md-12">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here"
                            id="dsEpidemiologiaHistoriaClinica" name="dsEpidemiologiaHistoriaClinica"
                            style="height: 250px"></textarea>
                        <label for="floatingTextarea2">Epidemiologia e História
                            Clínica</label>
                    </div>
                </div>

                <div class="mb-3 col-md-12">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="dsLesoesMacroscopicas"
                            name="dsLesoesMacroscopicas" style="height: 250px"></textarea>
                        <label for="dsLesoesMacroscopicas">Lesões Macroscópicas</label>
                    </div>
                </div>
                <div class="mb-3 col-md-12">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="dsLesoesHistologicas"
                            name="dsLesoesHistologicas" style="height: 250px"></textarea>
                        <label for="dsLesoesHistologicas">Lesões Histológicas</label>
                    </div>
                </div>
                <div class="mb-3 col-md-12">
                    <label for="dsDiagnostico" class="form-label">Diagnóstico</label>
                    <input type="text" class="form-control" id="dsDiagnostico" name="dsDiagnostico" placeholder=" ">
                </div>

                <div class="mb-3 col-md-12">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="dsRelatorio"
                            name="dsRelatorio" style="height: 250px"></textarea>
                        <label for="dsRelatorio">Relatório</label>
                    </div>
                </div>
                 </form>
        </div>
    </div>
</div>

<div class="container-fluid d-flex justify-content-center align-items-center mt-2 mb-3">
    <div class="card rounded" style="min-width: 100%;">
        <div class="card-body border border-1S rounded-2">
            <div class="row">
                <div class="col">
                    <a class="btn btn-warning w-100 call-screen" type="button" href="/veterinariaUNESC/paginas/listAtendimentos"><i class="bi bi-sign-turn-left-fill"></i>
                        <b>Voltar</b></a>
                </div>
                {% if exibeExcluir %}
                <div class="col">
                    <button class="btn btn-danger w-100" type="button" onclick="excluirCadastroAtendimentos()" id="bntExcluirPessoa"><b><i
                                class="bi bi-trash3-fill"></i>
                            Excluir</b></button>
                </div>
                {% endif %}
                {% if exibeSalvar %}
                <div class="col">
                    <button class="btn btn-primary w-100" type="button" onclick="salvarCadastroAtendimentos()"><i class="bi bi-floppy2-fill"></i>
                        <b>Salvar</b></button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>